In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [7]:
nfl_frame = pd.read_clipboard() #takes info you copied from your clipboard

In [8]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North

In [9]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [10]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [12]:
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2        Baltimore Ravens
3    New England Patriots
4           Chicago Bears
Name: Team, dtype: object

In [16]:
nfl_frame['First NFL season'] # if more than one word you have to use this format

0    1960
1    1921
2    1996
3    1960
4    1920
Name: First NFL season, dtype: int64

In [18]:
DataFrame(nfl_frame,columns=['Team','First NFL season','GP'])

                   Team  First NFL season     GP
0        Dallas Cowboys              1960    964
1     Green Bay Packers              1921  1,418
2      Baltimore Ravens              1996    434
3  New England Patriots              1960    966
4         Chicago Bears              1920  1,452

In [19]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North

In [21]:
nfl_frame.head() # returns first five rows

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North

In [23]:
nfl_frame.head(2) # returns first 2 etc

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North

In [25]:
nfl_frame.tail() # returns last five rows

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North

In [28]:
nfl_frame.loc[3] # returns all the info for the item at index 3

Rank                                   4
Team                New England Patriots
GP                                   966
Won                                  537
Lost                                 420
Tied                                   9
Pct.                               0.561
First NFL season                    1960
Division                        AFC East
Name: 3, dtype: object

In [29]:
nfl_frame['Stadium'] = 'Lambeau Field'

In [30]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,Lambeau Field
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,Lambeau Field
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,Lambeau Field
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,Lambeau Field
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,Lambeau Field

In [31]:
nfl_frame['Stadium'] = np.arange(5)

In [32]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,0
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,1
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,2
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,3
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,4

In [33]:
stadiums = Series(['AT&T Field','Lambeau Field','MTB Field','Gilette Stadium','Soldier Field'])

In [34]:
stadiums

0         AT&T Field
1      Lambeau Field
2          MTB Field
3    Gilette Stadium
4      Soldier Field
dtype: object

In [35]:
nfl_frame['Stadium'] = stadiums

In [36]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,AT&T Field
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,Lambeau Field
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,MTB Field
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,Gilette Stadium
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,Soldier Field

In [37]:
del nfl_frame["Stadium"]

In [38]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North

In [39]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [40]:
city_frame = DataFrame(data)

In [41]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000